@use "./colors.scss" as *;

header {

  & .navbar {
      background-color: $bg-primary !important;
  }

  & .nav-link {
      color: $text-primary !important;
  }

  & .nav-item {
      border-radius: .5rem;
      transition-property: all;
      transition-duration: .4s;
  }

  & .nav-item:hover {
      background-color: $bg-primary-hover !important;
  }
}
