@use "./colors.scss" as *;

.apartment_description {
    font-size: 12px;


}

#addressSuggestionsWrapper ul {
    position: absolute;
    left: 0;
    top: 38px;
    border-radius: 6px;
    width: 100%;
    background-color: white;
    z-index: 1;

    li {
        cursor: pointer;

        &.selected {
            background-color: $bg-selected-bootstrap;
        }



    }
}