/*
 di norma il bg-primary va combinato al text-primary,
 di conseguenza il secondary andrà combinato al secondary
*/


$bg-primary: #FF895D;
$bg-card-special: #e9d7d0;
$bg-primary-hover: #f1bdaaf4;
$bg-secondary: #78BBE6;
$bg-special-dark: #1B435D;
$bg-special-light: #D5EEFF;



$text-primary: #0f2534;
$text-secondary: #D5EEFF;