/*
 di norma il bg-primary va combinato al text-primary,
 di conseguenza il secondary andrà combinato al secondary
*/


$bg-primary: #FF895D;
$bg-primary-hover: #f1bdaaf4;
$bg-secondary: #78BBE6;
$bg-special-dark: #1B435D;
$bg-special-light: #D5EEFF;
$bg-snow: rgb(245, 245, 245);

$text-primary: #0f2534;
$text-secondary: #D5EEFF;
$bg-selected-bootstrap: #f0f0f0;
$bg-carbon: #212529;


$bg-jumbo: #ffcdba;
$bg-header: #ffcdba;
$bg-hippo: #4a4a7d;
$bg-light-hippo: #616192;