@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.modal-dialog {
    max-width: 800px !important;
}

.apartment_type {
    border: 1px solid black;
}

.apartment_type_wrapper:first-child .apartment_type {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.apartment_type_wrapper:last-child .apartment_type {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.sponsored_apartment {
    font: 500 100%/1.4 system-ui;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0rem;
    // padding: 1rem;
}

.post_card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: relative;


    .drawing_pin {
        transform: scale(0.45);
        top: -51px;
        left: 27%;
    }


}

.post_card>img {
    width: 100%;
    height: auto;
    aspect-ratio: 600/300;
}

.post_card>h2 {
    margin-top: 1rem;
    font-family: "Kalam", cursive;
    font-weight: normal;
    font-size: 2rem;
    color: #4a4a7d;
    text-align: center;
}

.post_card>p {
    font-family: "Kalam", cursive;
    font-size: 1rem;
    color: #5e5e89;
    text-align: center;
}


//MEDIA QUERY

@media screen and (min-width: 768px) {
    .apartment_type_wrapper:first-child .apartment_type {
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 12px !important;
    }

    .apartment_type_wrapper:last-child .apartment_type {
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 12px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .drawing_pin {

        left: 21% !important;
    }

}